.l-canvas {
  position: relative;
  // width: 600px;
  // height: 800px;
  padding: 0px;
}
.l-canvas-buffer {
  position: relative;
  /*width: 600px; height: 800px;*/
  padding: 10px;
}
.l-canvas-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.l-center-canvas {
  margin: 10px 0;
}

#imageCanvas {
  height: auto;
  width: 90%;
}
canvas {
    display: block;
}
#imageLoader {
  width: 32px;
  margin-left: -55px;
  height: 39px;
  line-height: 38px;
  opacity: 0;
  z-index: 100;
}
#app {
  border-bottom: 2px solid #CCC;
}