.l-canvas {
  position: relative;
  width: 600px;
  height: 800px;
  padding: 0px;
}
.l-canvas-buffer {
  position: relative;
  /*width: 600px; height: 800px;*/
  padding: 10px;
}
.l-canvas-wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.l-center-canvas {
  margin: 1em 2em;
}
